<a href = '/users'>Users </a>
| <a href="/questions">Questions</a>
<% if current_user %>
  | <a href = '/users/<%=current_user.id%>'> <%= current_user.username %></a>
  | <%= erb :"/sessions/_delete" %>
<% else %>
  | <a href="/sessions/new">Login</a>
  | <a href="/users/new">Register </a>

<% end %>

| <a href="/">Home</a>