
<a href="/questions">Questions</a>
<% if current_user %>
  | <%= erb :"/sessions/_delete" %>
<% else %>
  <a href="/sessions/new">Login</a>
  | <a href="/users/new">Register </a>

<% end %>
| <a href="/">Home</a>