
  <h2><%= @user.username %></h2>


  <h4>Email: <%= @user.email %></h4>
  <br>
  <h4> Statistics </h4>
  <p> Total Questions: <%= @user.questions.count %></p>
  <p> Total Answers: <%= @user.answers.count  %>
