<h2>All Questions</h2>
<ul>
<% @questions.each do |question| %>
	<li>
	<h2><a href="/questions/<%= question.id %>"><%= question.title %></a></h2>
		<p><%= question.content %></p>
			<p><span><%= question.votes %></span> votes</p>
		
	</li>
<% end %>
</ul>