<h2> Ask a question page</h2>

<form action="/questions/new" method="post">
    <label>Title</label><br>
    <input type="text" name="question[title]" placeholder="Enter something smart question? Be specific." style="width: 80%;"/>
    <br/>
    <label>Question</label>
    <br/>
    <textarea name="question[content]" style="resize:both; width: 80%; height: 200px;"></textarea>
    <br/>
    <input type="submit" value="Post Your Question"/>
</form>