<h2> Ask a question page</h2>

<form action="/questions/new" method="post">
    <label>Title</label><br>
    <input type="text" name="question[title]" placeholder="Enter something smart question? Be specific."/>
    <br/>
    <label>Question</label>
    <br/>
    <textarea name="question[content]"></textarea>
    <br/>
    <input type="submit" value="Post Your Question"/>
</form>