
<form class="answer-form" action="/questions/<%= @question.id %>/answers" method="POST">
    <label for="answer">Answer this question</label>
    <br/>
    <textarea name="content" style="resize:both; width: 80%; height: 200px;"></textarea>
    <br/>

    <input type="submit" value="Answer"/>
</form>