
<form class="answer-form" action="/questions/<%= @question.id %>/answers" method="POST">
    <label for="answer">Answer this question</label>
    <br/>
    <textarea name="answer"></textarea>
    <br/>

    <input type="submit" value="Answer"/>
</form>