<style type="text/css">
.answers li{
  list-style-type:none;
  width: 98%;
  float: right;

}
</style>

<div class="answers">
	
	    
  <% if @question.answers %>
  <!-- needs vote button, need answers association -->
    <% @question.answers.each do |answer| %>

      <li>
      <%= answer.content %>
      <br>
      - <em><%= answer.user.username %></em>
      <hr>
      </li>
   	<% end %>
  <% end %>
</div>