<div class="answers">

	    
  <% if @question.answers %>
    <% @question.answers.each do |answer| %>
      <%= answer.total_votes %> Votes - Answer:<br> <%= answer.content %>
   	<% end %>
  <% end %>
</div>